/* add universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

:root {
  --color1: #5f6368;
  --color2: rgba(0, 0, 0, 0.15);
  --color3: white;
  --color4: rgba(60, 64, 67, 0.08);
  --color5: rgba(0, 0, 0, 0.87);
  --color6: #f2f2f2;
  --color7: #dadce0;
  --color8: #70757a;
  --color9: #9aa0a6;
  --color10: #f8f9fa;
  --color11: #3c4043;
  --color12: #202124;
  --color13: #4d5156;
  --color14: #1a0dab;
}

body {
  background-color: var(--color3);
}

a {
  text-decoration: none;
}

/* header start */

header .continer {
  width: 95%;
  margin: 10px auto;
}
header .continer .main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .continer .main-row .sub-row {
  display: flex;
  gap: 20px;
  align-items: center;
}
header .continer .main-row .them-icon i {
  cursor: pointer;
  font-size: 26px;
}
header .continer .main-row .sub-row .user-profile {
  text-align: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

header .continer .main-row .sub-row .user-profile:hover {
  border: 2px solid var(--color2);
  outline-offset: 2px;
  outline-style: solid;
  outline-color: var(--color2);
}

header .continer .main-row .sub-row .list-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
header .continer .main-row .sub-row .list-icon:hover {
  background-color: var(--color4);
}
header .continer .main-row .sub-row .list-icon i {
  font-size: 18px;
  color: var(--color1);
  margin-top: 3px;
}

header .continer .main-row .sub-row .header-link {
  color: var(--color5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-size: 13px;
}
header .continer .main-row .sub-row .header-link:hover {
  text-decoration: underline;
}

/* header end */

/* main form start */

main .main-continer {
  width: 70%;
  margin: auto;
  margin-top: 10rem;
}

main .main-continer .main-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 775px) {
  main .main-continer .main-col .google-logo {
    width: 50%;
  }
  main .main-continer .main-col .google-logo img {
    width: 100%;
    height: auto;
  }
}

main .main-continer .main-col .search-form .search-input {
  position: relative;
  width: 584px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 750px) {
  main .main-continer .main-col .search-form .search-input {
    width: 484px;
  }
}
@media (max-width: 600px) {
  main .main-continer .main-col .search-form .search-input {
    width: 384px;
  }
}
@media (max-width: 480px) {
  main .main-continer .main-col .search-form .search-input {
    width: 300px;
  }
  main .main-continer .main-col .search-form .search-input .mic-icon {
    right: 12% !important;
  }
}

main .main-continer .main-col .search-form .search-input input[type="text"] {
  width: 100%;
  padding-left: 35px !important;
  padding: 5px 8px 0 14px;
  display: flex;
  min-height: 44px;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e5 !important;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  font-size: 16px;
  outline: none !important;
}

main
  .main-continer
  .main-col
  .search-form
  .search-input
  input[type="text"]:hover,
main
  .main-continer
  .main-col
  .search-form
  .search-input
  input[type="text"]:active,
main
  .main-continer
  .main-col
  .search-form
  .search-input
  input[type="text"]:focus,
main
  .main-continer
  .main-col
  .search-form
  .search-input
  input[type="text"]:focus-visible {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0) !important;
}

main .main-continer .main-col .search-form .search-input .bi-search {
  position: absolute;
  top: 15px;
  left: 3%;
  font-size: 14px;
  cursor: pointer;
  color: var(--color9);
}
main .main-continer .main-col .search-form .search-input .lins-icon {
  position: absolute;
  top: 10px;
  right: 3%;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
main .main-continer .main-col .search-form .search-input .mic-icon {
  position: absolute;
  top: 10px;
  right: 9%;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

main .main-continer .main-col .search-form .btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}
main .main-continer .main-col .search-form .btn-row button {
  background-color: var(--color10);
  border: 1px solid var(--color10);
  border-radius: 4px;
  color: var(--color11);
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
main .main-continer .main-col .search-form .btn-row button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--color10);
  border: 1px solid var(--color7);
  color: var(--color12);
}
main .main-continer .main-col .search-form .ar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color13);
  line-height: 28px;
  margin-top: 20px;
  font-size: small;
  margin-bottom: 24px;
}
main .main-continer .main-col .search-form .ar-link a {
  color: var(--color14);
  padding: 0 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
main .main-continer .main-col .search-form .ar-link a:hover {
  text-decoration: underline;
}

/* main form end */

/* footer start */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .top-footer,
footer .bottom-footer {
  background-color: var(--color6);
}

footer .top-footer {
  border-bottom: 1px solid var(--color7);
}
footer .continer {
  width: 95%;
  margin: 0 auto;
}

footer .continer .footer-row {
  display: flex;
  justify-content: left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  color: var(--color8);
}
footer .continer .footer-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  color: var(--color8);
}
footer .continer .footer-bottom-subrow {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media (max-width: 1200px) {
  footer .continer .footer-bottom-row {
    justify-content: space-evenly;
  }
}
@media (max-width: 750px) {
  footer .continer .footer-bottom-row {
    justify-content: space-between;
  }
  footer .continer .footer-bottom-subrow {
    gap: 15px;
  }
  footer .continer .footer-link,
  p {
    font-size: 13px !important;
  }
}
@media (max-width: 500px) {
  footer .continer .footer-bottom-subrow {
    gap: 20px;
  }
  footer .continer .footer-link,
  p {
    font-size: 10px !important;
  }
  footer .continer .footer-bottom-row {
    flex-direction: column;
    gap: 20px;
  }
}

footer .continer .footer-bottom-subrow .footer-link {
  color: var(--color8);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
footer .continer .footer-bottom-subrow .footer-link:hover {
  text-decoration: underline;
}

/* footer end */
